{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Training Modules</title>
	<link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
<div class="app">
	<header class="app-header">
		<div class="app-header-logo">
			<div class="logo">
				<span class="logo-icon">
					<img src="https://assets.codepen.io/285131/almeria-logo.svg" />
				</span>
				<h1 class="logo-title">
					<span>PhishMe</span>
					<span>Platform</span>
				</h1>
			</div>
		</div>
		<div class="app-header-navigation">
			<div class="tabs">
				<a href="#" onclick="goToAchievements()">
					Achievements
				</a>
				<a href="#" onclick="goToLeaderboard()">
					Leaderboard
				</a>
				<a href="#" onclick="goToModules()">
					Training Modules
				</a>
				<a href="#" onclick="goToAdminDashboard()">
					Admin Dashboard
				</a>
			</div>
		</div>
		<div class="app-header-actions">
			<button class="user-profile" onclick="goToDashboard()">
				<span>Tobias Vincent Steenberg</span>
				<span>
					<img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.6435-9/205383520_1660514457471811_9884424356248054_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=1d70fc&_nc_ohc=aKAg_KLNvOYQ7kNvwFSVV5O&_nc_oc=AdqFnOHpINMC3NcIEuRM7XvxOZFRMDml0YNxz9QNAlmcQxUTHR1QM-cdhP3eWmT8EyU&_nc_zt=23&_nc_ht=scontent-arn2-1.xx&_nc_gid=qaZYLVNLeHtJjwZJt1I6Ig&_nc_ss=7a30f&oh=00_AfyB8D7uX9bE1bKE-UVT-wMKIBGbks1_9Koy8_UVz4JKyA&oe=69E4B394" />
				</span>
			</button>
		</div>
		<div class="app-header-mobile">
			<button class="icon-button large">
				<i class="ph-list"></i>
			</button>
		</div>

	</header>
    <div class="app-body">
        <div></div>
        <div>
            <h1>What is Phishing?</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at dui porttitor, dictum erat et, porta tortor. In hac habitasse platea dictumst. Duis lorem dolor, porta vitae scelerisque non, malesuada quis mauris. Vivamus sed imperdiet odio. Nulla quam metus, imperdiet mollis ligula ut, porta placerat ante. Ut eget nunc sem. Aliquam efficitur lacinia erat non vehicula. Ut dictum semper nunc sit amet consectetur. Nullam ex libero, rutrum vitae ullamcorper vel, commodo eu massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum vitae nisl sem. Nulla finibus tristique enim, sed sagittis orci molestie quis. </p>
            <p>Vivamus sed hendrerit ex, et mattis lorem. Quisque finibus quis augue in cursus. Pellentesque cursus, nisi id placerat viverra, tellus arcu pretium urna, sed rutrum elit justo ac odio. Duis ut leo ac ligula efficitur sagittis. Sed a neque id lorem iaculis blandit. Quisque ut luctus dolor, vel efficitur lorem. Pellentesque et risus sit amet velit euismod viverra. Nulla tempor eros at augue eleifend, ac gravida libero facilisis. </p>
            <p>Sed imperdiet mi at odio imperdiet, vitae ornare augue pretium. Vestibulum ac erat sapien. Nullam gravida magna mauris, quis laoreet velit congue ut. Fusce venenatis velit ornare dui volutpat, non mattis mi ultricies. Donec efficitur est vel enim bibendum, vel pharetra quam tincidunt. Aliquam auctor, dolor et viverra tempus, neque libero rhoncus dolor, eu mollis libero tellus a enim. Suspendisse condimentum tincidunt magna. Nunc eget ornare arcu. Nullam rutrum placerat ante ut aliquet. Fusce auctor nunc maximus lectus sodales euismod eu eleifend ligula. Vivamus consequat massa est, id porttitor ex consectetur sed. </p>
        </div>
        <div></div>
    </div>
</div>
</body>
</html>


<script>
    function goToAchievements() {
        window.location.href = "{% url 'trainingModules:goToAchievements' %}";
    }
	function goToLeaderboard() {
		window.location.href = "{% url 'trainingModules:goToLeaderboard' %}";
	}
	function goToModules() {
		window.location.href = "{% url 'trainingModules:goToModules' %}";
	}
	function goToAdminDashboard() {
		window.location.href = "{% url 'trainingModules:goToAdminDashboard' %}";
	}
	function goToDashboard() {
		window.location.href = "{% url 'trainingModules:goToDashboard' %}";
	}
</script>