{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Achievements</title>
	<link rel="stylesheet" href="{% static 'base.css' %}">
	<style>
		.user-profile {
			display: flex;
			align-items: center;
			gap: 0.5rem;
		}
	</style>
</head>
<body>
<div class="app">
	<header class="app-header">
		<div class="app-header-logo">
			<a href="/">
				<div class="logo">
					<span class="logo-icon">
						<img src="https://assets.codepen.io/285131/almeria-logo.svg" />
					</span>
					<h1 class="logo-title">
						<span>PhishMe</span>
						<span>Platform</span>
					</h1>
				</div>
			</a>
		</div>
		<div class="app-header-navigation">
			<div class="tabs">
				<a href="#" onclick="goToAchievements()">
					Achievements
				</a>
				<a href="#" onclick="goToLeaderboard()">
					Leaderboard
				</a>
				<a href="#" onclick="goToModules()">
					Training Modules
				</a>
				<a href="#" onclick="goToAdminDashboard()">
					Admin Dashboard
				</a>
			</div>
		</div>
		<div class="app-header-actions">
			<div class="user-profile">
				<span onclick="goToDashboard()">{{ username }}</span>
				<button class="logout-button" onclick="logout()">Log out</button>
			</div>
		</div>
		<div class="app-header-mobile">
			<button class="icon-button large">
				<i class="ph-list"></i>
			</button>
		</div>

	</header>
    <div class="app-body">
        <div></div>
        <div>
            <h1>What is Phishing?</h1>

            <p>Chances are that if you’ve ever been on the internet, someone has tried to trick you with a phishing attack. 
            Phishing attacks might be the most common way for a malicious actor to execute their attack, targeting individuals, 
            large organizations, governments, and companies alike.</p>

            <h2>What is phishing? </h2>

            <p>Phishing is quite simply the act of trying to get you to click on a link or download a file that you do not know. It could be a link to your bank, that has been slightly changed, so that it looks like what you already know. Usually, attacks will try to make their request time-sensitive to put the part of your brain that controls the rational thinking out of the battle. This is known as “Amygdala Hijack” and will make you act entirely on emotion rather than rational thinking. The attackers try to get the victim, you in this case, to think “Crap, I need to do something NOW, otherwise something bad happens”. This could be that a package that you’ve been waiting for a long time for does not clear customs because you didn't pay or that you miss out on a huge financial gain because you responded too slow.  </p>
        </div>  
        <div></div>
    </div>
</div>
</body>
</html>


<script>
    function goToAchievements() {
        window.location.href = "{% url 'achievements:goToAchievements' %}";
    }
	function goToLeaderboard() {
		window.location.href = "{% url 'achievements:goToLeaderboard' %}";
	}
	function goToModules() {
		window.location.href = "{% url 'achievements:goToModules' %}";
	}
	function goToAdminDashboard() {
		window.location.href = "{% url 'achievements:goToAdminDashboard' %}";
	}
	function goToDashboard() {
		window.location.href = "{% url 'achievements:goToDashboard' %}";
	}
	function logout() {
		window.location.href = "{% url 'login:logout' %}";
	}
</script>